{
    "plugins": [
        "transform-class-properties",
        "transform-object-rest-spread",
        "syntax-dynamic-import",
        "react-loadable/babel"
    ],
    "presets": [
        "env", "react"
    ]
}