:root {
    --font-big: 18px;
    --font-small: 16px;
    --font-tiny: 12px;
}

* {
    font-family: 'Work Sans', sans-serif;
}

body {
    margin: 0;
}

.DayPickerNavigation_button__default {
    border: 0;
    background-color: transparent;
}

.DayPicker {
    margin-top: 10px;
}

.DayPicker__withBorder {
    border: 0;
    box-shadow: 0 0 0 0;
    border-radius: 0;
}

.DayPickerNavigation_button__default:focus,
.DayPickerNavigation_button__default:hover {
    border: 0;
    outline: 0;
}

.DayPickerNavigation_svg__horizontal {
    fill: black;
}

.CalendarMonth {
    background: transparent;
}

.CalendarMonth_caption {
    font-size: var(--font-big);
}

.DayPicker_weekHeader_ul {
    font-size: var(--font-small);
}

.CalendarMonthGrid {
    background: transparent;
}

.CalendarDay {
    font-size: var(--font-tiny);
}

.CalendarDay__default {
    background-color: transparent;
    border: 0;
    color: black;
}

.CalendarDay__default:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border: 0;
    color: white;
}

.CalendarDay__selected,
.CalendarDay__selected:active,
.CalendarDay__selected:hover {
    background-color: rgba(97, 196, 119, .9);
    border: 0;
    color: rgba(255,255,255,1);
}

.CalendarDay__blocked_out_of_range,
.CalendarDay__blocked_out_of_range:active,
.CalendarDay__blocked_out_of_range:hover {
    background-color: transparent;
    border: 0;
    color: rgba(0, 0, 0, 0.3);
}

.CalendarDay__selected_span {
    background-color: rgba(97, 196, 119, .7);
    border: 0;
    color: rgba(255,255,255,1);
}

.CalendarDay__selected_span:hover {
    background-color: rgba(97, 196, 119, .9);
    border: 0;
}

.CalendarDay__hovered_span {
    background-color: rgba(97, 196, 119, .7);
    color: white;
}

.CalendarDay__hovered_span:hover {
    background-color: rgba(97, 196, 119, .9);
    border: 0;
    color: white;
}

.CalendarMonth_table {
    margin-top: 10px;
}

.CalendarMonth_caption {
    color: rgba(0, 0, 0, 1);
}

.App {
    display: grid;
    grid: 100vh / auto 4fr;
}

.App__homeInfo {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: 600px;
}

.App__logo {
    width: 90px;
    margin-right: 18px; 
}

.App__homeInfo h1 {
    margin: 0;
    font-size: 32px;
    color: white;
}

.App__homeInfo h2 {
    margin: 0;
    font-size: 22px;
    font-weight: lighter;
    color: white;
}

.Background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    &__img {
        width: 100%;
    }
}

.Scrollable {
    overflow: scroll;
    box-sizing: border-box;
    padding: 30px;
}

.Calendar {
    display: grid;
    grid: auto 50px / 326px;
    align-items: center;
    background-color: rgba(255, 255, 255, 1);

    &__title {
        margin: 0;
        text-align: center;
        font-size: var(--font-big);
        font-weight: lighter;
    }

    &__confirm {
        width: 100%;
        text-align: center;
        box-sizing: border-box;
        padding: 20px;
        background-color: rgba(97, 196, 119, 1);
        color: white;
        font-size: var(--font-big);
        font-weight: bold;

        & span {
            padding-left: 5px;
        }

        & span:nth(0) {
            padding-left: 0;
        }
    }
}

.Locations {
    display: grid;
    grid: 90px / 1fr 1fr;
    align-items: center;
    width: 326px;
    margin-bottom: 5px;
    background-color: rgba(255, 255, 255, 1);

    &__title {
        grid-area: 1 / 1 / 1 / last-line;
        margin: 0;
        text-align: center;
        font-size: var(--font-big);
        font-weight: lighter;
    }

    &__card {
        display: flex;
        justify-content: center;
        align-items: center;

        & h2 {
            margin: 0;
            text-align: center;
            font-size: var(--font-big);
        }

        & img {
            position: absolute;
            top: 0;
            left: 0;
        }
    }    
}
