.ActivityDetails {

    &__time {
        display: grid;
        padding-top: 12px;
        grid-gap: 6px;
    }

    &__time-item {
        display: flex;
        flex-flow: column nowrap;

        strong {
            margin-bottom: 3px;
        }
    }

    &__time-input {
        height: 30px;
        font-size: var(--font-small);
    }

    &__time-label {
        font-size: var(--font-small);
        font-weight: bold;
    }

    &__info {
        display: grid;
        grid-gap: 24px;
        padding-top: 24px;
    }

    &__icon {
        width: 20px;
        fill: white;
    }

    &__description {
        width: 100%;
        height: 70px;
        font-size: var(--font-big);
        padding: 0;
        outline: none;
        border: 0;

        &::placeholder {
            color: black;
        }

        &:focus {
            color: var(--selected-item);

            &::placeholder {
                color: var(--selected-item);
            }
        }
    }

    &__confirm {
        height: 50px;
        width: 150px;
        border-radius: 3px;
        background-color: var(--active-item);
        display: flex;
        justify-content: center;
        align-items: center;
    }
}