.Activity {
    box-sizing: border-box;
    padding: 5vw;
    box-shadow: var(--box-shadow);
    margin: 12px 0;

    &__picture-wrapper {
        width: 100%;
        margin-top: 12px;
    }

    &__picture {
        width: 100%;
        border-radius: 3px;
    }

    &__category {
        padding: 5vw;
        font-size: var(--font-big);
        font-weight: bold;
        color: white;
        background-color: var(--active-item);
        border-radius: 3px;
        text-transform: capitalize;
        text-align: center;
    }

    &__time {
        width: 100%;
        display: grid;
        grid: 100px / 3fr 1fr 3fr;
        justify-items: center;
        align-items: center;
        margin-top: 12px;
    }

    &__time-item {
        font-size: var(--font-small);
        font-weight: normal;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;

        strong {
            margin-bottom: 3px;
        }
    }

    &__info {
        display: grid;
        grid: auto / 100%;
        grid-gap: 12px;
        margin-top: 12px;
    }

    &__info-item {
        font-size: var(--font-small);
        font-weight: normal;
        display: flex;
        flex-flow: column nowrap;

        strong {
            margin-bottom: 3px;
        }
    }
}