.ActionBox {
    width: 90vw;
    display: flex;
    flex-flow: column nowrap;
    box-shadow: var(--box-shadow);
    box-sizing: border-box;
    padding: 3vh;
    border-radius: 3px;

    &--active {
        color: var(--selected-item);
    }

    & > div {
        margin: 2vh 0;

        &:first-of-type {
            margin: 0;
        }
    }

    &__divider {
        display: flex;
        flex-flow: column;

        & > input {
            margin-bottom: 1vh;

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }

    &__title-wrapper {
        display: grid;
        grid: 50px / 4fr 1fr;
        align-items: center;
        justify-items: center;
    }

    &__title {
        width: 100%;
        font-weight: normal;
        font-size: var(--font-big);
    }

    &__icon {
        width: 40px;
    }

    &__toggler {
        grid: 1fr / 1fr 1fr;
        font-size: var(--font-big);
        justify-items: center;
    }
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 1024px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 1024px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 1024px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 1024px),
only screen and (                min-resolution: 192dpi) and (min-width: 1024px),
only screen and (                min-resolution: 2dppx)  and (min-width: 1024px) {
    .ActionBox {
        &__divider {
            flex-flow: row nowrap;
        }

        &__divider {
            & > input {
                text-align: center;
                margin: 0;
            }
        }
    }
}
