.Activity {
    box-sizing: border-box;
    padding: 5vw;
    box-shadow: var(--box-shadow);
    display: grid;
    grid: 60px 1fr / 1fr;
    align-items: center;
    grid-gap: 2vw;
    border-radius: 3px;

    &__picture-wrapper {
        width: 100%;
    }

    &__picture {
        width: 100%;
        border-radius: 3px;
    }

    &__category {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: var(--font-big);
        font-weight: bold;
        color: white;
        background-color: var(--active-item);
        border-radius: 3px;
        text-transform: capitalize;
        text-align: center;
    }

    &__time {
        width: 100%;
        display: grid;
        grid: 120px / 3fr 1fr 3fr;
        justify-items: center;
        align-items: center;
    }

    &__time-item {
        font-size: var(--font-small);
        font-weight: normal;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;

        strong {
            margin-bottom: 3px;
        }
    }

    &__info {
        display: grid;
        grid-gap: 12px;
    }

    &__info-item {
        font-size: var(--font-small);
        font-weight: normal;
        display: flex;
        flex-flow: column nowrap;

        strong {
            margin-bottom: 3px;
        }
    }
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 1024px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 1024px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 1024px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 1024px),
only screen and (                min-resolution: 192dpi) and (min-width: 1024px),
only screen and (                min-resolution: 2dppx)  and (min-width: 1024px) {
    .Activity {
        padding: 2vw;

        &__category {
            
        }
    }
}

@media only screen 
and (min-device-width : 1280px) {
    .Activity {
        padding: 3vh;

        &__category {
            
        }

        &__time-item {
            font-size: var(--font-tiny);
        }
    }
}