.Bookings {

    &__icon {
        width: 40px;
    }

    &__time {
        display: grid;
        grid: 1fr / 1fr 1fr;
        width: 100%;
    }

    &__time-input {
        font-size: var(--font-small);
        outline: none;
    }

    &__filter {
        width: 90vw;
        display: grid;
        grid: 50px auto 70px / 100%;
        justify-items: center;
        align-items: center;
        box-sizing: border-box;
        padding: 22px;
        grid-gap: 12px;
        border-radius: 3px;
        box-shadow: var(--box-shadow);
    }

    &__filter-options {
        width: 100%;
    }
}