.Categories {
    display: flex;
    flex-flow: row nowrap;
    overflow: scroll;

    &__category {
        padding: 22px;
        text-transform: capitalize;
        font-size: var(--font-big);
        font-weight: normal;
        border-radius: 3px;

        &--active {
            background-color: var(--active-item);
            color: white;
        }
    }
}