.CompleteDetails {
    display: grid;
    grid: 1fr 60px / 1fr;
    grid-gap: 5vw;

    &__inputs {
        display: flex;
        flex-flow: column;
    }

    &__input {
        height: 50px;
        font-size: var(--font-big);
        color: black;
        outline: none;

        &::placeholder {
            color: black;
        }
    }

    &__confirm {
        height: 50px;
        width: 150px;
        margin-top: 10px;
        border-radius: 3px;
        background-color: var(--active-item);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__icon {
        width: 20px;
        fill: white;
    }
}

@media only screen 
and (min-device-width : 1280px) {
    .CompleteDetails {
        grid: 1fr / 1fr 60px;
        grid-gap: 2vw;
    }
}