.Dashboard {
    width: 100vw;
    min-height: 100vh;
    box-sizing: border-box;
    background-color: white;
    z-index: 9999;
    display: grid;
    grid-gap: 2vw;
    align-items: center;

    &__box-title {
        height: 102px;
        width: 100%;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: var(--box-shadow);
    }

    &__content-box {
        border-radius: 3px;
        width: 90vw;

        &--logout {
            background-color: var(--dangerous-item);
            color: white;
        }

        & > div {
            width: 100%;
            box-sizing: border-box;
            padding: 5vw;
            display: grid;
            grid-gap: 2vw;
        }
    }

    &__action-box {
        display: grid;
        grid: 52px / 1fr 1fr;
        justify-items: center;
        align-items: center;
        padding: 5vw;
    }

    &__account-info {
        background-color: white;
        width: 100vw;
        display: grid;
        grid: 1fr 1fr / 1fr;
        align-items: center;
        box-sizing: border-box;
        padding: 5vw;
        font-size: var(--font-big);
    }

    &__login {
        width: 30vw;
        z-index: 9999;
        background-color: white;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }

    &__action {
        font-size: var(--font-big);
        font-weight: bold;

        &--logged-in {
            color: var(--dangerous-item);
        }

        &--logged-out {
            color: var(--active-item);
        }
    }

    &__back {

        & svg {
            height: 42px;
        }
    }

    &__home {
        width: 100vw;
        display: grid;
        justify-items: center;
        background-color: white;
        grid-gap: 2vw;
    }

    &__inputs {
        box-shadow: var(--box-shadow);
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        width: 100%;
        margin-top: 28px;
    }

    &__input {
        height: 52px;
        width: 100%;
        box-sizing: border-box;
        font-size: var(--font-small);
        padding-left: 22px;
        border: 0;
        outline: 0;

        &::placeholder {
            color: black;
            font-weight: bold;
        }
    }

    &__button-login {
        height: 70px;
        display: flex;
        align-items: center;
        color: black;
        width: 100%;
        padding-left: 22px;
        box-sizing: border-box;
        font-weight: bold;
    }
}