.Dashboard {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    background-color: white;
    z-index: 9999;
    display: grid;
    align-items: center;
    justify-content: center;

    &__box-title {
        height: 102px;
        width: 90vw;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: var(--box-shadow);
        border-radius: 3px;
        user-select: none;
        cursor: pointer;
    }

    &__content-box {
        border-radius: 3px;
        width: 100vw;
        height: 100vh;
        transform: scale(0, 0);
        background-color: white;
        overflow: scroll;
        position: fixed;

        &--logout {
            background-color: var(--dangerous-item);
            color: white;
        }

        & > div {
            width: 100%;
            box-sizing: border-box;
            padding: 5vw;
            display: grid;
            grid-gap: 5vw;
        }
    }

    &__close-icon {
        width: 40px;
        height: 40px;
        position: fixed;
        bottom: 5vh;
        left: 2vw;
    }

    &__action-box {
        display: grid;
        grid: 10vh / 1fr 1fr;
        justify-items: center;
        align-items: center;
    }

    &__account-info {
        background-color: white;
        width: 100vw;
        display: grid;
        grid: 1fr 1fr / 1fr;
        align-items: center;
        box-sizing: border-box;
        padding: 5vw;
        font-size: var(--font-big);
    }

    &__login {
        width: 90vw;
        z-index: 9999;
        background-color: white;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        align-self: flex-end;
    }

    &__action {
        font-size: var(--font-big);
        font-weight: bold;

        &--logged-in {
            color: var(--dangerous-item);
        }

        &--logged-out {
            color: var(--active-item);
        }
    }

    &__back {

        & svg {
            height: 40px;
        }
    }

    &__home {
        width: 100vw;
        height: 90vh;
        display: grid;
        grid: 102px / 1fr;
        grid-gap: 2vw;
        justify-items: center;
        align-items: center;
        background-color: white;
        overflow: scroll;
        box-sizing: border-box;
        padding: 5vw 0;
    }

    &__inputs {
        box-shadow: var(--box-shadow);
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        width: 100%;
        margin-top: 28px;
    }

    &__input {
        height: 52px;
        width: 100%;
        box-sizing: border-box;
        font-size: var(--font-small);
        padding-left: 22px;
        border: 0;
        outline: 0;

        &::placeholder {
            color: black;
            font-weight: bold;
        }
    }

    &__button-login {
        height: 70px;
        display: flex;
        align-items: center;
        color: black;
        width: 100%;
        padding-left: 22px;
        box-sizing: border-box;
        font-weight: bold;
    }
}

@media only screen 
and (min-device-width : 1280px) {
    .Dashboard {
        &__login {
            width: 25vw;
        }

        &__content-box {
            & > div {
                grid-gap: 2vw;
            }
        }
    }
}