.Juicebar {
    &__actions {
        display: grid;
        grid: 70px / 1fr 1fr;
        box-shadow: var(--box-shadow);
        border-radius: 3px;
    }

    &__action-button {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: var(--font-big);
        box-sizing: border-box;
        border-radius: 3px;

        &--active {
            background-color: var(--active-item);
            color: white;
        }
    }
}