.LandingPage {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    padding: 10vw 0;

    & h1 {
        user-select: none;
        cursor: pointer;
        font-size: var(--font-reallyBig);
    }

    &__head {
        width: 100%;
        padding: 5vw;
        box-sizing: border-box;
    }

    &__alternatives-wrapper {
        width: 100%;
        z-index: 3;
        overflow: hidden;

        &--sticky {
            position: fixed;
            bottom: 0;
        }
    }

    &__alternatives {
        display: flex;
        flex-flow: column;

        &--sticky {
            flex-flow: row;
        }
    }

    &__alternative {
        width: 90vw;
        height: 40vw;
        margin: 3vw auto;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: var(--font-reallyBig);
        cursor: pointer;
        border-radius: 3px;
        position: relative;
        overflow: hidden;
        box-shadow: var(--box-shadow);

        &--sticky {
            width: 30vw;
            height: auto;
            font-size: var(--font-tiny);
        }
    }

    &__title {
        font-size: var(--font-big);
        background-color: white;
        padding: 5vw;
        border-radius: 3px;

        &--sticky {
            font-size: var(--font--tiny);
            background-color: transparent;
            color: white;
            width: 100%;
            text-align: center;
        }

        &--active {
            background-color: var(--active-item);
            color: white;
        }
    }

    &__background-image {
        position: absolute;
        opacity: 0;
        width: 100%;
        top: 0;
        left: 0;
        z-index: -1;
    }

    &__social-links {
        margin-top: 5vw;

        & svg {
            margin-right: 5vw;
        }
    }
}

@media only screen 
and (min-device-width : 1280px) {
    .LandingPage {
        padding: 0;

        & h1 {
            width: 100%;
        }

        &__head {
            padding: 5vw 2vw;
        }

        &__alternatives-wrapper {
            box-sizing: border-box;
            padding: 0 2vw;
            
            &--sticky {
                width: 35%;
                right: 0;
            }
        }

        &__alternatives {
            flex-flow: row;
        }

        &__alternative {
            width: 100%;
            height: 26vw;
            margin: 0.5vw;

            &--sticky {
                height: 5vw;
            }
        }

        &__title {
            width: 50%;
            padding: 2vw;

            &--sticky {
                width: 100%;
                font-size: var(--font-small);
            }
        }

        &__social-links {
            margin-top: 2vw;

            & svg {
                margin-right: 2vw;
            }
        }
    }
}