.Member {
    width: 100%;
    box-shadow: var(--box-shadow);
    display: grid;
    grid: 1fr 60px / 1fr;
    grid-gap: 2vw;
    box-sizing: border-box;
    padding: 5vw;
    position: relative;

    & .CompleteDetails {
        grid: 1fr 60px / 1fr;
    }

    &__picture-wrapper {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        min-height: 300px;

        & svg {
            width: 50px;
            padding: 50px;
        }
    }

    &__picture {
        max-width: 280px;
        transform: rotate(90deg);
    }

    &__input {
        position: absolute;
        width: 1px;
        height: 1px;
        visibility: hidden;
    }

    &__info-wrapper {
        display: flex;
        flex-flow: column nowrap;
    }

    &__info {
        width: 100%;
        font-size: var(--font-small);
        font-weight: normal;
        word-wrap: break-word;
        margin-bottom: 10px;

        &:first-of-type {
            font-weight: bold;
        }
    }

    &__icons {
        display: grid;
        grid: 1fr / 2fr 1fr;
        align-items: center;
        justify-items: center;
    }

    &__title {
        font-size: var(--font-big);
        cursor: pointer;
    }

    &__icon {
        width: 40px;

        &--active {
            fill: var(--selected-item);
            color: var(--selected-item);
        }
    }
}

@media only screen 
and (min-device-width : 1280px) {
    .Member {
        padding: 2vw;

        &__setting {
            padding: 2vw;
        }

        &__icon {

        }
    }
}