.Members {

    &__icon {
        width: 40px;
    }

    &__action-title {
        width: 100%;
        height: 100%;
        font-weight: normal;
        font-size: var(--font-big);
        display: flex;
        align-items: center;
    }

    &__action-details {
        grid-column: 1 / 3;
        width: 100%;
    }
}