.NoName {
    width: 100%;
    display: grid;
    grid-gap: 10vw;

    &__title {
        text-align: center;
        font-size: var(--font-big);
        font-weight: normal;
    }

    &__img {
        width: 100%;
        margin-top: 10vh;
    }

    &__last-column {
        display: grid;
    }

    &__icon {
        &-box {
            width: 100%;
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-between;
            align-items: center;

            & svg {
                stroke: black;
                width: 100px;
            }
        }

        &-text {
            width: 175px;
            padding: 5vw 0;
        }

        &-title {
            margin-bottom: 10px;
            text-align: center;
            font-size: 28px;
            line-height: 30px;
        }

        &-description {
            font-size: var(--font-small);
            font-weight: normal;
            text-align: center;
        }
    }
}

@media only screen 
and (min-device-width : 1280px) {
    .NoName {
        grid: 1fr / 1fr 1fr 1fr;
        align-items: center;
        grid-gap: 3vw;

        &__icon-text {
            padding: 2vw 0;
        }

        &__title {
            grid-column: 1 / 4;
        }

        &__last-column {
            grid: 1fr / 1fr 1fr;
            grid-column: 1 / 4;
        }      
    }
}