.Orders {
    display: grid;
    grid-gap: 5vw;

    &__box-wrapper {
        display: grid;
        grid: 1fr / 1fr 1fr;
        grid-gap: 5vw;
    }

    &__box {
        min-height: 100px;
        display: grid;
        align-items: center;
        box-shadow: var(--box-shadow);
        padding: 5vw;
        border-radius: 3px;
    }

    &__title {
        font-size: var(--font-big);
    }

    &__price {
        font-size: var(--font-small);
    }

    &__summary-wrapper {
        display: grid;
        grid-gap: 5vw;
        padding-top: 5vw;
    }

    &__summary {
        display: grid;
        grid: 1fr / 1fr 4fr 1fr 2fr;
        align-items: center;
        justify-items: center;
        text-align: center;
        border-bottom: 1px solid black;
        padding: 5vw 0;
    }

    &__total {
        display: grid;
        grid: 1fr / 4fr 1fr 2fr;
        justify-items: center;
        align-items: center;
    }

    &__remove {
        transform: rotate(45deg);
    }

    &__pay-now {
        padding: 5vw;
        box-shadow: var(--box-shadow);
        border-radius: 3px;

        &--confirmed {
            background-color: var(--active-item);
            color: white;
        }
    }

    &__confirm {
        display: grid;
        grid: 70px / 1fr;
        background-color: var(--active-item);
        color: white;
        border-radius: 3px;
        font-size: var(--font-big);
        justify-items: center;
        align-items: center;
        margin-top: 5vw;
    }

    &__ticket-wrapper {
        display: grid;
        grid-gap: 5vw;
    }

    &__ticket {
        display: grid;
        grid: 1fr / 2fr 1fr;
        grid-gap: 5vw;
        align-items: center;
        box-shadow: var(--box-shadow);
        border-radius: 3px;
        padding: 5vw;
    }

    &__ticket-info {
        display: grid;
        grid: auto 1fr / 1fr;
        grid-gap: 5vw;
    }

    &__ticket-actions {
        display: grid;
        grid-gap: 1vw;
        grid: auto auto / 1fr;
        align-items: center;
        justify-items: center;
    }

    &__ticket-action {
        padding: 5vw;
        background-color: var(--active-item);
        color: white;
        text-align: center;
        border-radius: 3px;
    }

    &__ticket-title {
        font-size: var(--font-reallyBig);
    }

    &__ticket-items {
        display: grid;
        grid-gap: 3vw;
    }

    &__ticket-item {
        display: grid;
        grid: 1fr / 4fr 1fr;
        align-items: center;
    }
}