.Orders {
    display: grid;
    grid-gap: 5vw;

    &__name {
        margin: 5vw 0;
    }

    &__box-wrapper {
        display: grid;
    }

    &__box {
        display: grid;
        grid: 1fr / 1fr auto;
        grid-gap: 12px;
        align-items: center;
        padding: 6px;
        margin: 6px 0;
        border-radius: 3px;
    }

    &__title {
        font-size: var(--font-big);
        overflow: hidden;
    }

    &__price {
        font-size: var(--font-small);
    }

    &__summary-wrapper {
        display: grid;
        grid-gap: 12px;
        padding-top: 12px;
    }

    &__summary {
        display: grid;
        grid: 1fr / 1fr 4fr 1fr 2fr;
        align-items: center;
        justify-items: center;
        text-align: center;
        border-bottom: 1px solid black;
        padding: 12px 0;
    }

    &__total-wrapper {
        display: grid;
        grid: 1fr / 1fr 1fr;
        justify-items: center;
        align-items: center;
        padding: 12px 0;
    }

    &__total {
        text-align: center;
    }

    &__remove {
        transform: rotate(45deg);
    }

    &__total-actions {
        display: flex;
    }

    &__total-action {
        padding: 12px;
        box-shadow: var(--box-shadow);
        border-radius: 3px;
        text-align: center;

        &:first-of-type {
            margin-right: 12px;
        }

        &--confirmed {
            background-color: var(--active-item);
            color: white;
        }
    }

    &__confirm {
        display: grid;
        grid: 70px / 1fr;
        background-color: var(--active-item);
        color: white;
        border-radius: 3px;
        font-size: var(--font-big);
        justify-items: center;
        align-items: center;
    }

    &__ticket-wrapper {
        display: grid;
        grid-gap: 5vw;
    }

    &__ticket {
        display: grid;
        grid: 1fr / 2fr 1fr;
        grid-gap: 5vw;
        align-items: center;
        box-shadow: var(--box-shadow);
        border-radius: 3px;
        padding: 5vw;
    }

    &__ticket-info {
        display: grid;
        grid: auto 1fr / 1fr;
        grid-gap: 5vw;
    }

    &__ticket-actions {
        display: grid;
        grid-gap: 1vw;
        grid: auto auto / 1fr;
        align-items: center;
        justify-items: center;
    }

    &__ticket-action {
        padding: 5vw;
        background-color: var(--active-item);
        color: white;
        text-align: center;
        border-radius: 3px;
        width: 100%;
        box-sizing: border-box;

        &--delete {
            background-color: var(--dangerous-item);
        }
    }

    &__ticket-title {
        font-size: var(--font-reallyBig);
    }

    &__ticket-items {
        display: grid;
        grid-gap: 3vw;
    }

    &__ticket-item {
        display: grid;
        grid: 1fr / 4fr 1fr;
        align-items: center;
        border-bottom: 1px solid black;
        padding-bottom: 2vw;

        &:last-of-type {
            border-bottom: 0;
        }
    }

    &__error {
        display: grid;
        grid: 70px / 1fr;
        align-items: center;
        justify-items: center;
        background-color: var(--dangerous-item);
        color: white;
        font-size: var(--font-big);
        border-radius: 3px;
    }
}

@media only screen and (min-device-width: 480px) 
                   and (max-device-width: 812px) 
                   and (orientation: landscape) {

    .Orders {
        &__box-wrapper {
            grid: 1fr / 1fr 1fr 1fr;
            grid-gap: 12px;
        }
    }
}
