.Page {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    z-index: 99999;
    background-color: white;
    padding: 10vh 5vw;
    box-sizing: border-box;
    transform: translateX(-100vw);

    &__title {
        position: absolute;
        top: 0;
        font-size: var(--font-big);
        text-align: center;
        padding: 5vw;
        box-shadow: var(--box-shadow);
    }

    &__back-button {
        position: fixed;
        z-index: 100000;
        bottom: 0;
        right: 0;
        background-color: white;
        box-shadow: var(--box-shadow);
        border-radius: 3px 3px 0px 0px;
        width: 20vw;
        display: flex;
        justify-content: center;
        padding: 5vw;
        cursor: pointer;
        transform: translateY(20vw);
    }
}

@media only screen 
and (min-device-width : 1280px) {
    .Page {
        &__title {
            padding: 2vw;
        }

        &__back-button {
            width: 10vw;
            padding: 2vw;
        }
    }
}