.PictureInput {
    &__picture-wrapper {
        min-height: 70px;
        max-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        canvas {
            width: 100%;
        }
    }

    &__picture {
        width: 100%;
    }

    &__picture-icon {
        width: 40px;
    }

    &__picture-input {
        position: absolute;
        width: 1px;
        height: 1px;
        visibility: hidden;
    }
}

@media only screen 
and (min-device-width : 1280px) {
    .PictureInput {
        &__picture-wrapper {
            max-width: 35%;
            min-height: 200px;
            margin: auto;
        }
    }
}