.RecipeDetails {
    &__description {
        width: 100%;
        resize: vertical;
        font-size: var(--font-big);
        outline: none;
        overflow: visible;

        &::placeholder {
            color: black;
        }

        &:focus {
            color: var(--selected-item);

            &::placeholder {
                color: var(--selected-item);
            }
        }
    }

    &__confirm {
        display: grid;
        grid: 70px / 1fr;
        align-items: center;
        justify-items: center;
        background-color: var(--active-item);
        color: white;
        font-size: var(--font-big);
        border-radius: 3px;
    }

    &__error {
        display: grid;
        grid: 70px / 1fr;
        align-items: center;
        justify-items: center;
        background-color: var(--dangerous-item);
        color: white;
        font-size: var(--font-big);
        border-radius: 3px;
    }
}