.Requisitions {
    position: relative;

    &__add-info {
        
    }

    &__error-box {
        width: 100%;
        box-shadow: var(--box-shadow);
        font-size: var(--font-big);
        background-color: var(--dangerous-item);
        color: white;
        box-sizing: border-box;
        padding: 5vw;
        border-radius: 3px;
    }

    &__item-info-wrapper {
        display: grid;
        grid-gap: 5vw;
    }

    &__item-inputs {
        display: grid;
        grid: 1fr 1fr / 1fr 1fr;
        grid-gap: 5vw;

        & input {
            text-align: center;
        }
    }

    &__action-wrapper {
        display: grid;
        grid: 50px / 1fr 1fr;
        align-items: center;
    }

    &__list {
        display: grid;
        grid-gap: 5vw;
        padding: 5vw 0;
    }

    &__list-category {
        font-size: var(--font-reallyBig);
        font-weight: bold;
        text-transform: capitalize;
    }

    &__list-item {
        display: grid;
        grid: 1fr / 1fr 1fr 1fr;
        grid-gap: 12px;
        justify-items: center;
        align-items: center;
        font-size: var(--font-small);

        & span {
            min-width: 0;
            word-break: break-word;
            text-align: center;
        }
    }

    &__list-title {
        font-weight: bold;
    }

    &__options {
        display: grid;
        grid: 1fr / 4fr 1fr;
        align-items: center;
        padding: 2vw 0;
    }

    &__categories {
        display: grid;
        grid-gap: 5vw;
    }

    &__category-box {
        display: grid;
        grid-gap: 2vw;
        padding: 5vw;
        box-shadow: var(--box-shadow);
        border-radius: 3px;

        & h2 {
            margin-top: 0;
        }
    }

    &__actions {
        width: 100%;
        display: grid;
        grid: 10vh / 1fr 1fr;
        align-items: center;
        padding-top: 5vw;
        box-sizing: border-box;
        background-color: white;
    }

    &__actions-item {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;

        & svg {
            margin-bottom: 2vw;
        }
    }
}

@media only screen 
and (min-device-width : 1280px) {
    .Requisitions {
        &__item-info-wrapper {
            grid-gap: 2vw;
        }

        &__item-inputs {
            grid: 1fr / 1fr 1fr 1fr 1fr;
            grid-gap: 2vw;
        }

        &__list {
            grid-gap: 2vw;
            padding: 2vw 0;
        }

        &__categories {
            grid: 1fr / 1fr 1fr;
            align-items: flex-start;
            grid-gap: 2vw;
        }

        &__error-box {
            padding: 2vw;
        }
    }
}