.Section {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding: 10vh 5vw;

    &__title {
        padding: 5vw;
        box-shadow: var(--box-shadow);
        font-size: var(--font-reallyBig);
        margin-bottom: 5vh;
        border-radius: 3px;
    }

    &__heading {
        font-size: var(--font-reallyBig);
        margin-bottom: 5vh;
    }

    &__divider {
        margin: 20vh 0;
    }

    &__box {
        padding: 5vw;
        box-shadow: var(--box-shadow);
        margin-bottom: 5vh;
        line-height: 20px;
        border-radius: 3px;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    &__link {
        text-decoration: underline;
    }
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 1024px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 1300px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 1300px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 1300px),
only screen and (                min-resolution: 192dpi) and (min-width: 1300px),
only screen and (                min-resolution: 2dppx)  and (min-width: 1300px) {
    .Section {
        &__box,
        &__title {
            padding: 5vh;
        }
    }
}