.Section {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding: 10vw 5vw;
    margin: 20vh 0;
    position: relative;
    overflow: hidden;

    &__title {
        padding: 5vw;
        box-shadow: var(--box-shadow);
        font-size: var(--font-reallyBig);
        margin-bottom: 5vh;
        border-radius: 3px;
        background-color: rgba(255, 255, 255, 0.8);
        z-index: 2;
        color: var(--active-item);
    }

    &__heading {
        font-size: var(--font-reallyBig);
    }

    &__divider {
        margin: 25vh 0;
        z-index: 2;
        padding: 5vw;
        display: flex;
        flex-flow: column;
        align-content: center;
        border-radius: 3px;
        background-color: rgba(255, 255, 255, 0.8);
        font-size: var(--font-big);
    }

    &__box {
        padding: 5vw;
        box-shadow: var(--box-shadow);
        margin-bottom: 5vh;
        line-height: 20px;
        border-radius: 3px;
        background-color: rgba(255, 255, 255, 0.8);
        z-index: 2;
        font-size: var(--font-big);
        line-height: 3.5vh;
        word-break: break-word;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    &__link {
        text-align: center;
        cursor: pointer;
        font-size: var(--font-big);
        padding: 5vw;
        background-color: var(--active-item);
        color: white;
        border-radius: 3px;
        z-index: 2;

        & a {
            color: white;
        }
    }

    &__spacer {
        padding: 12px;
    }

    &__background-wrapper {
        width: 100%;
        position: absolute;
    }

    &__background-image {
        position: absolute;
        width: 100%;
        opacity: 0;
    }
}

@media only screen 
and (min-device-width : 1280px) {
    .Section {

        &__box,
        &__title {
            padding: 32px;
        }

        &__divider {
            margin: 10vh 0;
        }

        &__link {
            padding: 32px;
        }
    }
}