.Ticket {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: grid;
    box-sizing: border-box;
    padding: 5vw;
    grid: 1fr / 1fr;
    grid-gap: 5vw;
    box-shadow: var(--box-shadow);
    border-radius: 3px;

    &--member {
        border: 5px solid var(--active-item);
    }

    &__container {
        display: grid;
        grid-gap: 5vw;
        align-items: center;
    }

    &__main-info {
        display: grid;
        grid: 1fr 1fr / 1fr;
        grid-gap: 2vw;
        align-items: center;
        justify-items: flex-start;

        & h2 {
            font-size: var(--font-big);
            cursor: pointer;
            text-transform: capitalize;
            align-self: flex-end;
        }

        &--active {
            color: var(--active-item);
            fill: var(--active-item);
        }
    }

    &__info {
        font-size: var(--font-small);
        font-weight: normal;
        word-wrap: break-word;
        margin-bottom: 10px;
    }

    &__status {
        border: 2px solid black;
        padding: 6px 24px;
        text-transform: capitalize;
        border-radius: 3px;
    }

    &__main-bar {
        display: grid;
        grid: 1fr / 2fr 1fr 1fr;
        grid-gap: 5vw;
        align-items: center;
    }

    &__info-bar {
        
    }

    &__date-wrapper {
        display: grid;
        grid: 1fr 1fr / 1fr;
        grid-gap: 2vw;
        font-size: var(--font-big);
    }

    &__date {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;

        & span:first-of-type {
            font-weight: bold;

        }
    }

    &__action-bar {
        display: grid;
        grid: 1fr / 1fr 1fr;
        align-items: center;
        justify-items: center;
        grid-gap: 2vw;
    }

    &__action {
        width: 100%;
        box-sizing: border-box;
        padding: 5vw;
        color: white;
        font-size: var(--font-big);
        text-align: center;
        border-radius: 3px;
        cursor: pointer;

        &--confirm {
            background-color: var(--active-item);
        }

        &--cancel {
            background-color: var(--dangerous-item);
        }

        & svg {
            fill: white;
            stroke: white;
            height: 100%;
            width: 30px;
        }
    }

    &__bed {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        font-size: var(--font-reallyBig);
        font-weight: bold;

        & svg {
            width: 50px;
            fill: black;
            stroke: black;
            stroke-width: 26px;
            padding-bottom: 5px;
        }
    }
}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {
    .Ticket {
        &__container {
            grid: 1fr / 1fr 1fr;
        }
    }
}

@media only screen 
and (min-device-width : 1024px)  {
    .Ticket {
        &__container {
            grid: 1fr / 1fr 1fr;
        }
    }
}

@media only screen 
and (min-device-width : 1280px) {
    .Ticket {
        padding: 2vw;
        grid-gap: 2vw;

        &__action {
            padding: 2vw;
        }

        &__main-bar {
            grid-gap: 2vw;
        }

        &__container {
            grid: 1fr / 1fr 1fr 1fr;
            grid-gap: 1vw;
        }
    }
}
