.Volunteer {

    &--center {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__heading {
        font-size: var(--font-big);
        font-weight: bold;
        margin-bottom: 5vw;
        color: var(--active-item);
    }

    &__title {
        font-size: var(--font-big);
        font-weight: bold;
        text-align: center;
    }

    &__text {
        margin-bottom: 5vw;
        font-size: var(--font-small)
    }

    &__box {
        padding: 5vw;
        box-sizing: border-box;
        box-shadow: var(--box-shadow);
        border-radius: 3px;
    }

    &__divider {
        padding: 5vw;
        box-sizing: border-box;
        box-shadow: var(--box-shadow);
        border-radius: 3px;
        margin: 10vw 0;
        background-color: var(--active-item);
    }

    &__missions {
        box-sizing: border-box;
        display: grid;
        grid-gap: 5vw;
        margin-bottom: 10vw;
    }

    &__mission-title {
        font-size: var(--font-reallyBig);
        color: var(--active-item);
    }

    &__link {
        text-decoration: underline;
        text-align: center;
        font-weight: bold;
        cursor: pointer;
        
        & a {
            color: white;
        }
    }
}

@media only screen 
and (min-device-width : 1280px) {
    .Volunteer {
        padding: 5vw;

        &__back-button {
            width: 10vw;
        }

        &__missions {
            grid: 1fr / 1fr 1fr 1fr;
            grid-gap: 1vw;
            margin-bottom: 5vw;
        }

        &__box {
            padding: 3vw;
        }

        &__divider {
            padding: 3vw;
            width: 35vw;
            margin: 5vw 0;    
        }

        &__text {
            margin-bottom: 1vw;
        }

        &__heading {
            margin-bottom: 1vw;
        }
    }
}